h1{
    color: #ffffff;
    font-family: 'Lobster','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}
p{
    color: #a25252;
    font-weight: 700;
}
div{
    padding: 20px;
    border: 10px solid black;
    margin: 10px;
    background-color: rgba(82, 214, 219, 0.684);
}
nav a{
    text-decoration: none;
    color:#ffffff;
    background-color: black;
    padding: 5px;
}
nav a:hover{
    color: rgb(168, 125, 125);
}